@page
@model IndexModel
@{
    ViewData["Title"] = "Desafio Sciensa";
}

<div class="row">


    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Clientes</h3>
        </div>

        <div class="panel-body">

            <div>
                <h3>Novo</h3>
                <p>
                    Nome:
                    <input id="nome" placeholder="Nome" type="text" />
                </p>
                <p>
                    CPF:
                    <input id="cpf" placeholder="CPF" type="text" />
                </p>
                <p>
                    Endereco:
                    <input id="endereco" placeholder="Endereco" type="text" />
                </p>

                <input id="btnSalvar" type="submit" class="btn btn-default btn-sm" value="Adicionar" />
            </div>

            <hr />

            <h3>Clientes:</h3>
            <table class="table table-bordered" id="Table">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Endereço</th>
                    <th>Detalhes</th>
                </tr>
            </table>

        </div>
    </div>
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script>

    function clienteDisplay(button_edit) {
        var row = $(button_edit).parents("tr");
        var cols = row.children("td");

        var _activeId = $($(cols[3]).children("input")[0]).data("id");

        location.replace("/Editar?id=" + _activeId);
        //$.mobile.changePage('Editar.cshtml', { dataUrl: "Editar.cshtml?id=" + "321", data: { 'id': '2131' }, reloadPage: true, changeHash: true });
    }

    function buscarClientes() {

        $.ajax({
            type: "GET",
            url: "http://localhost:8080/api/cliente",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $("#DIV").html('');
                var DIV = '';
                $('#Table tbody').children('tr:not(:first)').remove();
                $.each(data, function (i, item) {
                    var rows = "<tr>" +
                        "<td id='Nome'>" + item.nome + "</td>" +
                        "<td id='CPF'>" + item.cpf + "</td>" +
                        "<td id='Endereco'>" + item.endereco + "</td>" +
                        "<td>" +
                        "<input type='button' class='btn btn-default' value='Detalhes' data-id='" + item.id + "' onclick='clienteDisplay(this);' />" +
                    "</td>" +
                        "</tr>";
                    $('#Table').append(rows);
                });
                console.log(data);
            },

            failure: function (data) {
                //alert(data.responseText);
            },
            error: function (data) {

            }

        });
    }

    $(document).ready(function () {
        buscarClientes();
        $(window).focus(function () {
            buscarClientes();
        });

        $("#btnSalvar").click(function () {
            var sendJsonData = {
                nome: $("#nome").val(),
                cpf: $("#cpf").val(),
                endereco: $("#endereco").val()
            };

            $.ajax({
                type: "POST",
                url: "http://localhost:8080/api/cliente",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(sendJsonData),
                success: function () {
                    buscarClientes();
                    //alert("Cadastro efetuado com sucesso.");
                    //$('#novoModal').modal('toggle');
                    //document.location.reload();
                },
                error: function (error) {
                    var x = error;
                    alert("Cliente cadastrado");
                    //alert('Falha????' + x.responseText);
                }
            });
        });

    });

</script>