@page
@model IndexModel
@{
    ViewData["Title"] = "Desafio Sciensa";
}

<div class="row">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script>

        $(document).ready(function () {
            $(window).focus(function () {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:8080/api/cliente",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        $("#DIV").html('');
                        var DIV = '';
                        $('#Table').empty();
                        $.each(data, function (i, item) {
                            var rows = "<tr><a>" +
                                "<td id='Nome'>" + item.nome + "</td>" +
                                "<td id='CPF'>" + item.cpf + "</td>" +
                                "<td id='Endereco'>" + item.endereco + "</td>" +
                                "</a></tr>";
                            $('#Table').append(rows);
                        }); //End of foreach Loop
                        console.log(data);
                    }, //End of AJAX Success function

                    failure: function (data) {
                        alert(data.responseText);
                    }, //End of AJAX failure function
                    error: function (data) {
                        alert(data.responseText);
                    } //End of AJAX error function

                });
            });
        });

        ar sendJsonData = {
            nome: $("#nome").val(),
            cpf: $("#cpf").val(),
            endereco: $("#endereco").val()
        };

        $("#btnSalvar").submit(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "http://localhost:8080/api/cliente",
                data: JSON.stringify(sendJsonData),
                success: function (data) {
                    alert(data);
                    $('#novoModal').modal('toggle');
                    //document.location.reload();
                },
                error: function (error) {
                    var x = error;
                    alert(error);
                }
            });
        });
    </script>

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Clientes</h3>
        </div>
        <div class="panel-body">
            <table class="table table-bordered" id="Table">
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Endereço</th>
                </tr>
            </table>

            <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#adHocAdd">Adicionar</button>
        </div>
    </div>
</div>

@* ------- modal novo cliente ---------- *@
<div id="adHocAdd" class="modal fade" role="dialog">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
    <script>
        var sendJsonData = {
            nome: $("#nome").val(),
            cpf: $("#cpf").val(),
            endereco: $("#endereco").val()
        };

        $("#btnSalvar").submit(function () {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "http://localhost:8080/api/cliente",
                data: JSON.stringify(sendJsonData),
                success: function (data) {
                    alert(data);
                    $('#novoModal').modal('toggle'); 
                    //document.location.reload();
                },
                error: function (error) {
                    var x = error; 
                    alert(error);
                }
            });
        });
    </script>    
    
    <div class="modal-dialog" id="novoModal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Cadastrar novo cliente</h4>
            </div>
            <div class="modal-body">
                <input id="nome" />
                <input id="cpf" />
                <input id="endereco" />
            </div>
            <div class="modal-footer">
                <button id="btnSalvar" type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i>Salvar</button>
            </div>
        </div>
    </div>
</div>
